@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body    {
    color: white;
    font-family: 'Kalam', cursive;
}

.choice-container   {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: blue;
    font: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 100ms;
    
}

.choice-pre {
    padding: 2rem 2.5rem;
    color: white;
    font-size: 2rem;
}

.choice-txt {
    padding: 2rem;
    width: 100%;
}

 /* Color for correct answers */

.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* Screen sizes */

#hud {
    display: flex;
    justify-content: center;
}

.hud-item {
    text-align: center;
    font-size: 2rem;
}
.hud-txt {
    text-align: center;
    font-size: 2rem;
}

.choice-txt {
    font-size: 2rem;  
}



@media screen and (max-width: 900px) {
    .choice-container {
        min-width: 40rem;
    }
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}