
body    {
    color: white;
}

.choice-container   {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: blue;
    font: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
    
}

.choice-pre {
    text-align: center;
    padding: 2rem 2.5rem;
    color: white;
    font-size: 2rem;
}

.choice-txt {
    text-align: center;
    padding: 2rem;
    width: 100%;
}


 /* Color for correct answers */

.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* Screen sizes */

#hud {
    display: flex;
    justify-content: center;
}

.hud-item {
    text-align: center;
    font-size: 2rem;
}
.hud-txt {
    text-align: center;
    font-size: 2rem;
}

.choice-txt {
    text-align: center;
    font-size: 2rem;  
}

#question {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .choice-container {
        min-width: 50%;
        
    }
    .hud-item{
        text-align: center;
        font-size: 1rem;
    }
}