
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body    {
    color: white;
    font-family: 'Kalam', cursive;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    margin-bottom: 0.5rem;
}
